

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 11vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 8px 4px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
   
}

.logo img {
    height: 115px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.logo h1 {
    color:rgb(53, 192, 202);
    margin-top: 34px;
    font-size: 49px;
}

.navitems {
    display: flex;
    margin-right: 165px;
}

.navitems li {
    list-style: none;
}

.navitems li a {
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    margin: 0px 18px;
    color: rgb(53, 192, 202);
    font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal
     
}

.navitems li a:hover {
    color: white;
    background-color: rgb(53, 192, 202);
    padding: 4px 15px;
    border-radius: 15px;
}

.store-icon i {
    margin-right: 80px;
    font-size: 32px;
    color:rgb(53, 192, 202);
}

.openmenu {
     display: none; 
    font-size: 32px;
    color:rgb(53, 192, 202);
    position: absolute; 
     top: 28px; 
     right: 20px;
}

#closemenu {
     display: none; 
    font-size: 32px;
    color: rgb(53, 192, 202);
     position: absolute; 
    top: 28px;
     right: 20px; 
}

/* home */
.home::before {
    background-image: url("../img/Virgin-Red-online-shopping-offers.jpg");
    content: "";
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -11;

}

.homeh1 {
    margin-left: 54rem;
    margin-top: 11rem;
    cursor: pointer;
}

.homeh1 h1 {
    font-size: 4rem;
    font-weight: bolder;

}

#homechild1 {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 4rem;
    color: white ;
    font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    
    
}

#homechild2{
    margin-right: 4rem;
    
   
}
#homechild3{
    margin-left: 1.5rem;
   
}
#homechild4{
    margin-left: 5rem;

   
    
}

#btn1{
    font-size: 1.3rem;
    padding: 7px 16px;
    border-radius: 18px;
    background-color: rgb(255, 179, 0);
    color: white;
    border: 2px solid white;
    /* margin-top: 2rem; */
    margin-left: 3.2rem;
    cursor: pointer;
}
#btn2{
    font-size: 1.3rem;
    padding: 7px 16px;
    border-radius: 18px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 2rem;
    margin-left: 4px;
    cursor: pointer;
}
#btn2 a{
    text-decoration: none;
    color: white;
}
#btn1:hover{
    background-color: transparent;
}
#btn2:hover{
    background-color: rgb(255, 179, 0)
}
#top-feature h1{
    margin-top: 15rem;
    text-align: center;
    color: rgb(255, 179, 0) ;
    font-size: 3.9rem;
    cursor: pointer;
}
.home2{
      margin-top: 10rem;
    text-align: center;
    display: none;
}

/* services */
#service{
    margin-top: 3rem;
    cursor: pointer;
}
#service h1{
    text-align: center;
    font-size: 3.9rem;
    color:rgb(255, 179, 0);
}
#service1{
    margin-top: 2rem;
}
#service1 h1{
    text-align: center;
    font-size: 3.9rem;
    color:rgb(255, 179, 0);
}


.cards{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card1 {
    border: 2px solid white;
    width: 24vw;
    padding: 40px  25px;
    border-radius: 15px;
    text-align: center;
    background-color:rgb(53, 192, 202);
    box-shadow: 0 0 20px rgba(3, 3, 3, 0.5);
    color: white;
}
.card2 {
    border: 2px solid white;
    width: 24vw;
    margin-left: 15px;
    padding: 40px  25px;
    border-radius: 15px;
    text-align: center;
    background-color:rgb(53, 192, 202);
    box-shadow: 0 0 20px rgba(3, 3, 3, 0.5);
    color: white;
}
.card3 {
    border: 2px solid white;
    width: 24vw;
    margin-left: 15px;
    padding: 40px  25px;
    border-radius: 15px;
    text-align: center;
    background-color:rgb(53, 192, 202);
    box-shadow: 0 0 20px rgba(3, 3, 3, 0.5);
    color: white;
}
#icon{
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
}
/* shop */
#top{
    margin-top: 1.6rem;
    cursor: pointer;
   
}
#top h1{
    text-align: center;
    font-size: 3.9rem;
    color:rgb(255, 179, 0);
    
}
.btngroup{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{
    margin: 0px 10px;
    border: 2px solid white; 
}
.btn2 a {
    text-decoration: none;
    border: 2px solid rgb(53, 192, 202); 
    padding: 5px 14px;
    color: rgb(53, 192, 202);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
.btn2 a:hover{
    background-color:rgb(53, 192, 202) ;
    border-color: white;
    color: white;
}
#mug{
margin: 3rem;
}
#mug h1{
    text-align: center;
    font-size: 3rem;
    color:rgb(255, 179, 0);
}
.portion1{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.card-1{
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
    text-align: center;
   padding-bottom: 15px;
}
.card-2{
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
    text-align: center;
    padding-bottom: 15px;
}
.card-3{
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
    text-align: center;
    padding-bottom: 15px;
}
.card-1 img{
    width: 22vw;
    height: 47vh;
    transition: all 1s ease 0s;
}
.card-1 img:hover{
    transform: scale(0.94);
    
}
.card-2 img{
    width: 22vw;
    height: 47vh;
    transition: all 1s ease 0s;
}
.card-2 img:hover{
    transform: scale(0.94);
    
}
.card-3 img{
    width: 22vw;
    height: 47vh;
    transition: all 1s ease 0s;
}
.card-3 img:hover{
    transform: scale(0.94);
    
}
.review{
    color: orangered;
}
.price{
    color: green
}
.cart{
    cursor: pointer;
    background-color: rgb(53, 192, 202);
    padding: 7px 12px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}
.cart:hover{
    background-color: white;
    color: rgb(53, 192, 202);
    border-color:rgb(53, 192, 202) ;
}
#shoes{
    margin: 3rem;
    cursor: pointer;
    }
    #shoes h1{
        text-align: center;
        font-size: 3rem;
        color:rgb(255, 179, 0);
    }
    #stationary{
        margin: 2.6rem;
        cursor: pointer;
        }
        #stationary h1{
            text-align: center;
            font-size: 3rem;
            color:rgb(255, 179, 0);
        }
        #watch{
            margin: 3rem;
            cursor: pointer;
            }
            #watch h1{
                text-align: center;
                font-size: 3rem;
                color:rgb(255, 179, 0);
            }
            #T-shirt{
                margin: 3rem;
                cursor: pointer;
                }
                #T-shirt h1{
                    text-align: center;
                    font-size: 3rem;
                    color:rgb(255, 179, 0);
                }

                /* testinomial */
                .testinomial{
                    margin-top: 3rem;
                    cursor: pointer;
                }
                .testinomial h1{
                    
                    text-align: center;
                    font-size: 3.7rem;
                    color:rgb(255, 179, 0);
                }
                .testinomial p{
                    margin-top: 2r;
                    text-align: center;
                    margin: 0px 100px;
                }
                .reviewcard{
                     display: flex;
                     text-align: center; 
                    justify-content: center;
                    margin-top: 4rem; 
                    cursor: pointer;
                }
                
                .card-r1{
                    text-align: center;
                 width: 25rem;
                 height: 24rem;
                box-shadow: 0 0 15px grey;
                padding: 30px 0px;
                }
                .card-r1 img{
                    width: 8rem;
                    height: 8rem;
                    border-radius: 100%;
                    box-shadow: 0 0 15px rgb(62, 147, 218);
                }
                .card-r2{
                    text-align: center;
                 width: 25rem;
                 height: 24rem;
                box-shadow: 0 0 15px grey;
                padding: 30px 0px;
                margin-left: 17px;
                }
                .card-r2 img{
                    width: 8rem;
                    height: 8rem;
                    border-radius: 100%;
                    box-shadow: 0 0 15px rgb(62, 147, 218);
                }
               
                .card-r3{
                    margin-left: 17px;
                    text-align: center;
                 width: 25rem;
                 height: 24rem;
                box-shadow: 0 0 15px grey;
                padding: 30px 0px;
                }
                .card-r3 img{
                    width: 8rem;
                    height: 8rem;
                    border-radius: 100%;
                    box-shadow: 0 0 15px rgb(62, 147, 218);
                }
               
/* sell section */
.sell::before{
    content: "";
    background-image: url("../img/sell\ img.jpg");
    background-size: cover;
    width:98.8vw ;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}
.sell {
    margin: 11rem 57rem 0px 5rem ;
    cursor: pointer;
    }
    .sell h1{
        font-size: 4rem;
        font-weight: bolder;
    }
    .sell-btn{
            font-size: 1.3rem;
            padding: 5px 23px;
            border-radius: 18px;
            background-color: rgb(255, 179, 0);
            color: white;
            border: 2px solid white;
            margin-top: 2rem;
            cursor: pointer;
            margin-top: 14px;
    }
    .sell-btn:hover{
        background-color: transparent;
    }
.sellcard-0{
    background-color: black;
}
.sellcard-0 {
    background-color: black;
    color: white;
    height: 20vh;
    text-align: center; 
    padding: 28px;
    margin: 0rem 2rem 0rem 2rem;
    border-radius: 40px;
    cursor: pointer;
}
 .sellcard{
    background-color:rgb(150, 195, 232); 
    height: 26rem;
    margin: 14rem 5rem 2rem 5rem ;
    box-shadow: 0 0 18px rgb(54, 54, 54);
    cursor: pointer;
 }
.sellcards{
    margin-top: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
}
.sellcard-1{
    width: 22rem;
    height: 25rem;
    margin-left: 2rem;
    color: antiquewhite;
}
.sellcard-2{
    width: 22rem;
    height: 25rem;
    margin-left: 5rem;
    color: antiquewhite;
  
}
.sellcard-3{
    width: 22rem;
    height: 25rem;
    margin-left: 5rem;
    color: antiquewhite;
}
#sellicon{
    font-size: 3.4rem;
   color: #000;
}
.sellbig{
    background-color:rgb(150, 195, 232) ;
    height: 32rem;
    margin: 3rem 5rem 2rem 5rem ;
    box-shadow: 0 0 20px rgb(54, 54, 54);
    cursor: pointer;
}
.sellbig-body{
   padding: 9rem 1rem;
   width: 100%;
}

.sellbig-body h1{
    font-size: 3.8rem;
    margin-bottom: 4px;
 
 }
 .sellbig-body p{
    margin-top: 10px;
 }
.sellbtn{
    background-color: rgb(255, 179, 0);
    color: white;
    border: 2px solid white;
    border-radius: 19px;
    padding: 6px 15px;
    font-size: 17px;
    margin-top: 15px;
}
.sellbtn:hover{
    background-color: transparent;
    color:white; 
    border: 2px solid white;
       cursor: pointer;
}
.sellbtn1{
    background-color: transparent;
    color:white; 
    border: 2px solid white;
    border-radius: 19px;
    padding: 6px 15px;
    font-size: 17px;
    margin-top: 10px;
}
.sellbtn1:hover{
    background-color: rgb(255, 179, 0);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.sellbig{
    display: flex;
}
.sellbig-img{
   margin-top: 6rem;
   width: 60vw;
}
.sellcards1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    cursor: pointer;
}
.sellcardhead{
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
    color:rgb(255, 179, 0);
    display: none;
}
.sellcardchild1{
    width: 16rem;
    margin-left: 2rem;
}
.sellcardchild2{
    width: 16rem;
    margin-left:5rem ;
}
.sellcardchild3{
    width: 16rem;
    margin-left:5rem ;
}
#sellicons{
    font-size: 2.5rem;
    margin-bottom: 8px;
    color:rgb(62, 147, 218) ;
}
.sellhead{
    margin-bottom: 5px;
}
/* Footer section */
footer{
    background-color: #131212;
margin-top: 5rem;
}
.footercontainer{
    width: 100%;
    padding:70px 30px 20px ;
}
.socialicons{
    display: flex;
    justify-content: center;

}
.socialicons a{
   text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
} 
.socialicons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialicons a i:hover {
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 20px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
}
.footernav li{
    list-style: none;
}
.footernav  li a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 1.4rem;
    opacity: 0.9;
    transition: 0.5s;
}
.footernav  li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: #000;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}
.footerbottom p{
    color: white;
}
